@import url("reset.css");

body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  
    /* Typography */
    font-size: 18px;
    line-height: 34px;
    color: #777;
  
    /* Visual */
    background: url("../images/concrete_seamless.png");
    /* background-color: #c3c6dabb; */
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

/* links and buttons */

a {
    text-decoration: none;
    color: rgb(95, 148, 15);
}

a:hover, a:active, nav a:hover, .logo a:hover {
    color: rgb(142, 209, 41);
}
button:hover {
    color: rgb(142, 209, 41);
}

/* general */

.wrapper {
    height: auto !important;
    height: 100%;
  
    /* Box-model */
    min-height: 100%;
  
    /* Positioning */
    margin: 0 auto -100px;
}

.container0 {
  /* Box-model */
  width: 100%;
  max-width: 960px;

  /* Positioning */
  margin: 0 auto;
  clear: both;
}

h1, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}
  
h1,
h2,
h3 {
    /* Typography */
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: rgb(99, 98, 98);
}

h1 {
    /* Box-model */
    padding-bottom: 20px;
  
    /* Typography */
    font-size: 30px;
    line-height: 49px;
  
    /* Visual */
    border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
    position: fixed;
    z-index: 99;
  
    /* Box-model */
    width: 100%;
  
    /* Positioning */
    margin: 0 0 30px;
    overflow: auto;
  
    /* Typography */
    color: #fff;
    background: #fff;
  
    /* Visual */
    border-bottom: 2px solid #ccc;
}

.logo {
    float: left;
    /* min-width: 350px; */
    height: 90px;
    padding: 0 20px;

    /* typography */
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;

    /* visual */
    background: rgb(111, 112, 126);
}

nav {
    float: right;
    margin-top: 25px;
}

nav li {
    display: inline-block;
    padding-left: 15px;

  /* Positioning */
  margin-left: 15px;

  /* Typography */
  line-height: 18px;

  /* Visual */
  border-left: 1px solid #efefef;
}

nav li:first-child {
    /* Box-model */
    padding-left: 0;
  
    /* Positioning */
    margin-left: 0;
  
    /* Visual */
    border-left: 0 none;
}

nav a {
    text-decoration: none;
    color: #787a94;
}

/* main */

main {
    padding-top: 150px;
}
.mainSection {
    float: left;
    width: 100%;
    max-width: 650px;
  
    /* Box-model */
    padding: 30px;
  
    /* Positioning */
    margin: 0 0 40px;
    background: #fff;
  
    /* Visual */
    border: 1px solid #ddd;
  }
  
/* h1 {
    color: rgb(111, 112, 126);
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
    padding: 15px 0 5px 0;
} */
.mainImg {
    float: left;

    /* Box-model */
  width: 200px;
  height: auto;
  margin-top: 10px;

  /* Positioning */
  margin-right: 25px;
}

p {
    margin: 22px 0;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 5px 0;
}

/*use to clear float elements*/
.clear {
    clear: both;
    overflow: auto;
}

footer {
    text-align: center;
    padding: 25px 0;
    font-size: large;
    font-weight: 500;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-color: #63626d;
    color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    /*sets it flush to the bottom of page*/
    left: 0;
}

footer a {
    padding: 0 20px;
}

@media only screen and (max-width:980px) {
    nav {
      margin-right: 5px;
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    .mainSection,
    .sidebar {
      max-width: 100%;
    }
  
    main {
      overflow: auto;
    }
  
    .work {
      /* Box-model */
      width: 47%;
  
      /* Positioning */
      margin-bottom: 10px;
    }
  
    .work:nth-child(even) {
      margin-right: 0;
    }
  
    .work:nth-child(odd) {
      float: right;
    }
  
    .mainImg {
      width: 50%;
    }
  
    .sidebar {
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 640px){
    #masthead {
      /* Positioning */
      position: static;
      margin-bottom: 20px;
    }
  
    header .container0 {
      padding: 0;
    }
  
    main.container0 {
      padding-top: 0;
    }
  
    .logo,
    .work,
    .mainImg {
      width: 100%;
    }
  
    nav {
      /* Box-model */
      width: 100%;
  
      /* Positioning */
      margin: 15px 0;
  
      /* Typography */
      text-align: center;
    }
  
    nav a {
      /* Box-model */
      width: 30%;
      padding-left: 0;
  
      /* Positioning */
      margin-left: 0;
    }
  }
  